$c-dark-theme: #111;
$c-green-theme: #00b60b;
$c-skyblue: #3d8d8f;
$c-dark-blue: #082a2e;
$c-blue: #2874a6;
$c-middleblue: #0b5a8f;
$c-success: #117a4b;
$c-error: #b31e1e;
$c-error2: #b10101;
$c-yellow: #b4e800;
$c-orange: #fbbc05;
$c-purple: #a500d8;

$c-facebook: #4267b2;
$c-instagram: #e1306c;
$c-phone: #32cd32;
$c-discord: #5865f2;
$c-github: #967bb6;
$c-twitter: #1DA1F2;
$c-youtube: #FF0000;

$c-grayF3: #f3f3f3;
$c-white: #fff;
$c-e: #eee;
$c-d: #ddd;
$c-c: #ccc;
$c-b: #bbb;
$c-a: #aaa;
$c-9: #999;
$c-8: #888;
$c-6: #666;
$c-5: #555;
$c-4: #444;
$c-3: #333;
$c-black: #000;
$c-red: #c70000;